body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.backdrop-tablet {
  display: none;
}
.backdrop {
  display: none;
}
/*  */
/* Header      */
/* #region */
.header-page {
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav-list {
  display: none;
}
.nav-item {
}
.nav-link {
}
.current {
}
.address {
}
.address-list {
  display: none;
}
.address-item {
}
.address-link {
}

/* #endregion */
/* #region */
.menu-btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-icon-burger {
  display: block;
  fill: #2f2f37;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  stroke-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  stroke-width: 1px;
  margin-bottom: 24px;
}
.mobile-menu-close-icon {
  fill: #2e2f42;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-nav-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-list:active,
.mobile-menu-nav-list:focus {
  color: #404bbf;
}
.mobile-menu-add {
}
.mobile-menu-add-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-add-link:active,
.mobile-menu-add-link:focus {
  color: #404bbf;
}

.mobile-menu-add-list {
}
.mobile-menu-add-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.mobile-menu-links-item {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 48px;
}
.mobile-menu-icons-list {
  border-radius: 100%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}
.mobile-menu-icons-list-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-icon {
  fill: #f4f4fd;
}
/* #endregion */
/* #region Hero */
.section-order {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/retina/people-office-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 320px;
  min-height: 432px;
  margin: 0 auto;
  background-position: center;
  padding: 72px 0;
}
@media screen and (min-resolution: 2x) {
  .section-order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/order-service-bg-mobile@2x.jpg);
  }
}

.order-title {
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
}
.order-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* #endregion */
/* #region Advantages */
.advantages-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
  min-width: 288px;
}
@media screen and (max-width: 1157.98px) {
  .container-icons-advantages {
    display: none;
  }
}
/* #endregion */

/* #region Our Team */
.team-card {
  padding: 96px 0;
  background-color: #f4f4fd;
  min-width: 320px;
}

.team-title {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  align-items: center;
}
.team-list {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
  min-width: 264px;
}
.team-item {
  display: block;
  margin: 0 auto;
  max-width: 264px;
}
.container-name {
  padding-top: 32px;
  padding-bottom: 32px;
}
.advantages-list-team {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.advantages-text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 8px;
}

.ourteam-item-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.ourteam-list-icons {
  width: 40px;
  height: 40px;
}
.ourteam-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam-link-icons:active,
.ourteam-link-icons:focus {
  background-color: #404bbf;
}
.ourteam-icons {
  fill: #f4f4fd;
}
/* #endregion */
/* region Section-app */
.section-app {
  padding-top: 96px;
  padding-bottom: 96px;
}
.list-app {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.item-app {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-app:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-app:hover .thumb-text {
  transform: translateY(0%);
}
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-app {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
}
.app-title {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-text-app {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #regio Footer */
footer {
  padding: 96px 0;
  background-color: #2e2f42;
  min-width: 320px;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}
.footer-container {
  display: flex;
  align-items: baseline;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  min-width: 264px;
  margin-bottom: 72px;
}
.footer-text-media {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-item-media {
  display: flex;
  gap: 16px;
}
.footer-list-media {
  width: 40px;
  height: 40px;
}
.footer-link-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-media:active,
.footer-link-media:focus {
  background-color: #31d0aa;
}
.footer-icons-media {
  fill: #f4f4fd;
}
.footer-logo-position {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subscribe-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
.subscribe-label {
  gap: 24px;
}
.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  line-height: 2;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.04em;
  opacity: 0.3;
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  fill: #fff;
  margin: 0 auto;
}
.subscribe-icon {
  margin-left: 16px;
}
/* #endregion */
/* #region Mobile-modal */
.backdrop-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-mobile.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-mobile {
  position: relative;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  padding: 24px 16px;
  padding-top: 72px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-mobile:not(.is-open) .modal-mobile {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal-mobile-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  stroke-width: 1px;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mobile-btn:active,
.modal-mobile-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-mobile-wrapper-input {
  position: relative;
}
.modal-mobile-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 34px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-person-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mobile-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 256px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.modal-mobile-wrapper {
}
.modal-mobile-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-mobile-wrapper-comment {
}
.modal-mobil-lable-textarea {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-mobile-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
}

.mobile-modal-btn-send {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  border: none;
  margin-top: 24px;
}
.mobile-modal-btn-send:active,
.mobile-modal-btn-send:focus {
  background-color: #404bbf;
}
/*  */
.modal-mobile-input-checkbox:checked
  + .mobile-modal-label-privacy
  .mobile-modal-span-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4f4;
}
.mobile-modal-label-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.mobile-modal-span-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
  flex-shrink: 0;
  fill: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-modal-icon-span {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 8px;
}
.mobile-modal-link-privacy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/* #endregion */
/*  */
/*  */
/* #region Tablet style */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
  .menu-btn-burger {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .address {
    display: block;
    font-style: normal;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
  }
  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
  .header-logo {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .mobile-menu {
    display: none;
  }
  .section-order {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/Dark-bg-tablet1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 768px;
    margin: 0 auto;
    background-position: center;
    padding: 112px 0;
  }
  @media screen and (min-resolution: 2x) {
    .section-order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/retina/Dark-bg-tablet@2x.jpg);
    }
  }
  .order-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-top: 112px;
    max-width: 496px;
  }
  .order-btn {
    margin-top: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .advantages-section {
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
  }

  .advantages-item {
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* gap: 24px; */
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    flex-direction: row;
  }
  .advantages-list {
    width: calc((100% - 24px) / 2);
  }
  .advantages-title {
    display: flex;
  }
  .team-container {
    padding: 0 93px;
    margin: 0 auto;
    max-width: 768px;
  }
  .team-card {
    padding: 96px 0;
    background-color: #f4f4fd;
    min-width: 768px;
  }
  .team-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    margin: 0 auto;
    max-width: 552px;
  }
  .team-list {
    margin-bottom: 0;
    min-width: 0;
  }

  .ourteam-link-icons:active,
  .ourteam-link-icons:focus {
    background-color: #404bbf;
  }
  .ourteam-icons {
    fill: #f4f4fd;
  }

  .item-app {
    width: calc((100% - 48px) / 2);
  }
  footer {
    padding: 96px 0;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .footer-logo-position {
    display: inline-block;
    margin-right: 24px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-logo-position-social {
  }
  .footer-logo {
    justify-content: flex-start;
  }
  .subscribe-text {
    margin: 0;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
  .subscribe-input {
    width: 264px;
    opacity: 0.3;
  }
  .subscribe-form {
    gap: 24px;
  }
  .subscribe-wrapper {
    margin-right: 41px;
  }
  /* modal tablet */
  .backdrop-mobile {
    display: none;
  }
  .backdrop {
    display: none;
  }
  .backdrop-tablet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop-tablet.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal-tablet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    padding: 24px;
    padding-top: 72px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop-tablet:not(.is-open) .modal-tablet {
    transform: translate(-50%, -50%) scale(1.5);
  }
  .modal-btn-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2e2f42;
    stroke-width: 1px;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn-tablet:hover,
  .modal-btn-tablet:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }
  .modal-icon-tablet {
  }
  .modal-text-tablet {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    margin-bottom: 16px;
  }
  .modal-wrapper-tablet {
    margin-bottom: 8px;
  }
  .modal-wrapper-comment-tablet {
    margin-bottom: 16px;
  }

  .modal-label-tablet {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
  }
  .modal-wrapper-input-icon-tablet {
    position: relative;
    margin-bottom: 16px;
  }
  .input-name-tablet {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-name-tablet:focus {
    border-color: #4d5ae5;
  }
  .input-name-tablet:focus + .icon-name-tablet {
    fill: #4d5ae5;
  }
  .icon-name-tablet {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea-tablet {
    width: 100%;
    height: 120px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea-tablet::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }
  .modal-textarea-tablet:focus {
    border-color: #4d5ae5;
  }
  .modal-label-privacy-tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding-bottom: 24px;
  }
  .input-checkbox-tablet {
  }
  .modal-span-privacy-tablet {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-icon-span {
  }
  .input-checkbox-tablet:checked
    + .modal-label-privacy-tablet
    .modal-span-privacy-tablet {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  .modal-wrapper-checkbox-tablet {
    margin-bottom: 24px;
  }
  .modal-link-privacy-tablet {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 2px;
  }
  .modal-btn-send-tablet {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn-send-tablet:hover,
  .modal-btn-send-tablet:focus {
    background-color: #404bbf;
  }
  .backdrop-tablet {
    display: flex;
  }
}

/* #endregion */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .section-order {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/people-office-bg-desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
  }
  @media screen and (min-resolution: 2x) {
    .section-order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/retina/people-office-desktop@2x.jpg);
    }
  }
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .order-title {
    display: flex;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
  }
  .order-btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* advantaages */
  .advantages-section {
    padding: 120px 0;
  }
  .container-icons-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    justify-content: center;
    display: flex;
  }
  .advantages-item {
    min-width: 1140px;
  }
  .advantages-list {
    width: calc((100% - 72px) / 4);
  }
  /* Team card */
  .team-card {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-title {
    margin-bottom: 72px;
  }
  .team-item {
    display: flex;
    min-width: 1128px;
  }
  .team-list {
    width: calc((100% - 72px) / 4);
  }
  .container-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
  }
  .ourteam-link-icons:hover,
  .ourteam-link-icons:focus {
    background-color: #404bbf;
  }
  .ourteam-icons {
    fill: #f4f4fd;
  }
  /* Our Portfolio */
  .section-app {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .list-app {
    /* display: flex;  */
    /* flex-wrap: wrap; */
    column-gap: 24px;
    row-gap: 48px;
  }
  .item-app {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 360px;
  }

  .item-app:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .item-app:hover .thumb-text {
    transform: translateY(0%);
  }

  .container-app {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
  }
  .app-title {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  /* Footer */
  footer {
    padding: 100px 0;
    background: #2e2f42;
  }

  .footer-studio {
    color: #f4f4fd;
  }
  .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-bottom: 0;
  }
  footer .container {
  }

  .footer-logo-position {
    display: inline-block;
    margin-right: auto;
  }
  .footer-logo-position-social {
    margin-right: 80px;
  }
  .footer-text-media {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .footer-item-media {
    display: flex;
    gap: 16px;
  }
  .footer-list-media {
    width: 40px;
    height: 40px;
  }
  .footer-link-media {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-link-media:hover,
  .footer-link-media:focus {
    background-color: #31d0aa;
  }
  .footer-icons-media {
    fill: #f4f4fd;
  }
  .footer-icons-media {
  }

  .subscribe-wrapper {
    margin: 0;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  }
  .subscribe-label {
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    line-height: 2;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0.04em;
  }
  .subscribe-input::placeholder {
    color: #ffffff;
  }
  .subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    fill: #fff;
  }
  .subscribe-icon {
    margin-left: 16px;
  }
  /* modal-desk */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    padding: 24px;
    padding-top: 72px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
  }
  .modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2e2f42;
    stroke-width: 1px;
    background-color: #e7e9fc;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover,
  .modal-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }
  .modal-icon {
  }
  .modal-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    margin-bottom: 16px;
  }
  .modal-wrapper {
    margin-bottom: 8px;
  }
  .modal-wrapper-comment {
    margin-bottom: 16px;
  }

  .modal-label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    margin-top: 8px;
  }
  .modal-wrapper-input-icon {
    position: relative;
    margin-bottom: 16px;
  }
  .input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-name:focus {
    border-color: #4d5ae5;
  }
  .input-name:focus + .icon-name {
    fill: #4d5ae5;
  }
  .icon-name {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }
  .modal-textarea:focus {
    border-color: #4d5ae5;
  }
  .modal-label-privacy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding-bottom: 24px;
  }
  .input-checkbox {
  }
  .modal-span-privacy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-icon-span {
  }
  .input-checkbox:checked + .modal-label-privacy .modal-span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  .modal-wrapper-checkbox {
    margin-bottom: 24px;
  }
  .modal-link-privacy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
  .modal-btn-send {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn-send:hover,
  .modal-btn-send:focus {
    background-color: #404bbf;
  }
}
